<section>
    <!--Linha 1-->
  <article (click)="C1()">
    {{ txtC1 }}
  </article>
  <article (click)="C2()">
    {{ txtC2 }}
  </article>
  <article (click)="C3()">
    {{ txtC3 }}
  </article>
  <!--Linha 2-->
  <article (click)="C4()">
    {{ txtC4 }}
  </article>
  <article (click)="C5()">
    {{ txtC5 }}
  </article>
  <article (click)="C6()">
    {{ txtC6 }}
  </article>
  <!--Linha 3-->
  <article (click)="C7()">
    {{ txtC7 }}
  </article>
  <article (click)="C8()">
    {{ txtC8 }}
  </article>
  <article (click)="C9()">
    {{ txtC9 }}
  </article>
</section>
